.login-view {
    display: flex;
    min-height: 100vh;
    align-items: center;
    @media (max-width: 900px) {
        display: initial;
    }
    .left-side {
        min-height: 100vh;
        width: 500px;
        position: relative;
        &::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: black;
            opacity: 0.6;
        }
        .background {
            width: 100%;
            height: 100%;
            background-size: cover;
            object-fit: cover;
            min-height: 100vh;
        }
        .logo {
            position: absolute;
            filter: drop-shadow(2px 4px 6px black);
            width: 200px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        @media (max-width: 900px) {
            display: none;
        }
    }
    .right-side {
        padding: 56px 20px 40px;
        width: calc(100% - 500px);
        @media (max-width: 900px) {
            width: 100%;
        }
        .logo {
            width: 100%;
            max-width: 200px;
            margin-bottom: 40px;
        }
        .button {
            margin-bottom: 30px;
        }
        .input, .button {
            width: 100%;
        }
    }
}

