/*------------------------------------*\
    $FONTFACE
\*------------------------------------*/
/*--------------------
  Poppins
---------------------*/
@font-face {
  font-family: 'Poppins-light';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: local('Raleway-light'),
       url('assets/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
       url('assets/fonts/Poppins/Poppins-Light.woff') format('woff'),
       url('assets/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-Light.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Poppins-regular';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Raleway-regular'),
       url('assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
       url('assets/fonts/Poppins/Poppins-Regular.woff') format('woff'),
       url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-Regular.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Poppins-medium';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('Raleway-medium'),
       url('assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
       url('assets/fonts/Poppins/Poppins-Medium.woff') format('woff'),
       url('assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-Medium.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Poppins-semibold';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local('Raleway-semibold'),
       url('assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
       url('assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
       url('assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-SemiBold.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Poppins-bold';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Raleway-bold'),
       url('assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
       url('assets/fonts/Poppins/Poppins-Bold.woff') format('woff'),
       url('assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-Bold.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Poppins-black';
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: local('Raleway-black'),
       url('assets/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
       url('assets/fonts/Poppins/Poppins-Black.woff') format('woff'),
       url('assets/fonts/Poppins/Poppins-Black.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-Black.eot') format('embedded-opentype');
}



