$primary: #B931FC;
$primary-light: #e7b8fe;
$accent: #fc31da;
$accent-light: #feccf6;
$error: #E55051;
$info: #292AFB;
$warning: #F3BB1C;
$success: #50C14F;
$background: #FAFCFF;
$disabled: #D8D8E1;
$text: #5F6185;
$title: #3C3E6A;
$white: #FFF;